.TaskBody {
  z-index: 1000;
  position: fixed;
  top: 67.46px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: calc(100vh - 65px - 67.46px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  &.closing {
    opacity: 0;
  }
  .body {
    background-color: #fff;
    color: black;
    border-radius: 2vw;
    min-width: 310px;
    width: 60%;
    min-height: 310px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .manage {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 16px;
      button {
        border: none;
        font-size: 24px;
        line-height: 1;
        color: #fff;
        padding: 0.5vw 1vw;
        &:first-of-type {
          border-radius: 0.7vw 0 0 0.7vw;
          background-color: rgb(43, 141, 92);
        }
        &:last-of-type {
          border-radius: 0 0.7vw 0.7vw 0;
          background-color: rgb(43, 105, 141);
        }
      }
    }
    .title {
      display: inline-block;
      font-size: 32px;
      line-height: 1;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      margin-bottom: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      > input {
        display: inline-block;
        width: 100%;
        padding-bottom: 16px;
        border: none;
        font-size: 28px;
        line-height: 1;
        background-color: rgb(226, 226, 226);
        padding: 0;
      }
    }
    > div {
      display: flex;
      justify-content: space-between;
      .text {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 16px;
        white-space: pre;
      }
      textarea {
        background-color: rgb(233, 232, 232);
        width: 100%;
        height: fit-content;
        margin-bottom: 16px;
        resize: none;
        font-size: 20px;
        line-height: 1;
        padding: 8px;
        border: none;
        overflow: hidden;
        transition: 0.4s;
        padding: 0;
      }
    }
    > button {
      margin-top: auto;
      background-color: rgb(182, 77, 77);
      border: none;
      color: #fff;
      border-radius: 1vw;
    }
  }
}
